body {
    /*margin 0 removes unnecessary white lines around any header etc*/
    margin: 0;
    /*every body element acquires this font style*/
    font-family:  "Gill Sans", sans-serif;
}


.header {
    /*.left and .right element are in one row cuz display: flex; default value is dsplay:row;*/
    display: flex;
    /* seperates .left and .right element from each other */
    justify-content: space-between;
    padding: 8px;
    background-color: #1f2937;
  }


  img {
    max-width: 400px;
    max-height: 400px;
  }
  
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 18px;
    list-style: none;
  }

  p {

    margin: 0;
  }


/* every a(link) element gets those properties bellow */
  a {
      text-decoration: none;
      font-size: 24px;
      color: #e5e7eb;
  }
  
  /*given clases .left and .right, align those elements at the center(vertically)*/
  .left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
/*those margin properties .left and .right clases, align further from left and right border  */
  .left {
      color: white;
      margin-left: 300px;
  }

  .right {
      margin-right: 300px;
  }


 .media {
    /*display:flex; makes any content inside container .media align in a row*/
    display: flex;
    justify-content: center;
    gap: 408px;
    background-color: #1f2937;
    padding: 120px;
  
  }

  .content {

    max-width: 500px;
  }

  .headline {

    font-size: 48px;
    font-weight: 700;
    color: white;
  }

  .subtext {

    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 11px;
  }

  .content {

    text-align: start;
  }

  .content button {

    font-size: 18px;
    padding: 6px;
    width: 120px;
    border-radius: 10px;
    color: white;
    background-color: #3882f6;
    border-style: none;
    font-weight: bold;
  
  }  


  .square {
border-color: black;
border: 4px;
border-style: solid;
height: 200px;
border-radius: 15px;
border-color: #3882f6;

  }

  .randominfocontainer{

    display: flex;
    justify-content: center;
    margin: 35px;
    font-weight: bolder;
    font-size: 36px;

  }
  /*content that is inside in the given conatiner, acquires such properties flex-direction:row and content alignes at the center(horizontally)*/
  .randinfsubtxtcontainer {

    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 120px;
  }

  .randinfsubtxtcontainer p {

    margin-top: 10px;
  }


   /*alignes the squere and subtext in to behave as a oen object*/
  .randinfosubtext {
   display: flex;
   flex-direction: column;
   width: 200px;
  }

  /*align content in the center vertically and horizontally*/
  .quotecontainer {

    display: flex;
    justify-content: center;
    align-content: center;
    padding: 120px;
    background-color: #E5E7EB;

  }
  /*sets the max width for the text*/
  .quote {

    max-width: 820px;
  }
  /*this class change text properties*/
  .quoteleft {

    font-size: 36px;
    color: rgb(92, 92, 92);
    font-style: italic;
  }
  /*this class moves content to the right border of a qoute max-width*/
  .quoteright {

    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
  }